* {
    font-family: 'Open Sans', sans-serif;
    line-height: normal;
    color: var(--main-font-color);
}

.full-screen {
    height: 100vh;
    width: 100%;
}

.flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex {
    display: flex;
}

.no-select {
    user-select: none;
}

.display-none {
    display: none;
}

input {
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    outline: none;
    background-color: var(--white);
    border: 1px solid var(--input-border-color);
}

input::placeholder {
    color: var(--input-placeholder-color);
}

.p5 {
    padding: 5px;
}

.button {
    background: #d9d9d9;
    border: 1px solid black;
    padding: 10px;
    width: 130px;
    border-radius: 7px;
}
.button:hover {
    transition: all 0.3s ease;
    background: #a3a1a1;
}

.modal {
    position: absolute;
    width: 300px;
    height: 300px;
    background: rgb(204, 204, 204);
    border-radius: 7px;
    border: 1px dashed black;
    top: 40%;
    left: 40%;
    text-align: center;
}
.modal .modal-text {
    padding-top: 40%;
}
.modal .modal-closebtn {
    border: 1px solid grey;
    background: #fff;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    bottom: 30px;
    left: 130px;
}
:root {
    --main-font-color: #333;
    --main-button-background-color: lightgrey;
    --main-button-border-color: #999;
    --input-border-color: #999;
    --input-placeholder-color: #888;
    --white: #fff;
}
